@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
.Home {
    .content {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        color: white;
        margin: 30px;
        padding: 40px;
        background: black;
        border-radius: 5px;
        .name {
            font-size: 4em;
            font-family: 'Source Sans Pro', sans-serif;
        }
        .links {
            padding: 0;
            li {
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}
